@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* header started */
.container {
    width: 1170px;
    max-width: 1440px;
    margin: 0 auto;
}

.header-area {
    display: flex;
    align-items: center;
    /* text-align: right; */
}

.logo-img {
    width: 48px;
    flex-shrink: 0;
}

.logo-text {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 4px;
}

.logo-text span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.menu-items {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.menu-items li a {
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-items li a:hover {
    color: #FF5400;
    transition: .3s;
}

.main-menu {
    margin-left: 35%;
    /* margin-top: 50px; */
}

.header-area {
    display: flex;
    align-items: center;
    /* text-align: right; */
    margin: 28px 0px;
}

.logo {
    display: flex;
}








/* slider */
.slider-area {
    background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    text-align: center;
}

.slider-heading {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.slider-para {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* width: 676px; */
    padding: 0 21%;
    padding: 25px 21%;
}

.input-field .input {
    width: 164px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    text-align: left;
    padding: 0px 10px;
}

.input-field .input a {
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding-top: 12%; */
}

.input-field {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.inputs {
    border-radius: 8px;
    background: #FF5400 !important;
}

.inputs a {
    color: #fff !important;
}

.left {
    margin-left: 60%;
}

.lefts {
    margin-left: 40%;
}

.center {
    text-align: center;
    padding-top: 9%;
}

.class {
    margin-top: 9%;
}

.slider-text {
    padding-top: 105px;
}

.slider-input {
    padding-top: 24px;
}


/* tour-area */

.tour-area {
    display: flex;
}

#tour {
    margin-top: 100px;
}

.tour-heading {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 24px;
}

.tour-para {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.tour-items li {
	list-style: disc;
	margin-left: 25px;
	margin-top: 24px;
	color: rgba(19, 19, 24, 0.70);
	font-family: Mulish;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
}

.tour-items li a {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.t-para {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    /* 162.5% */
}

.tour-btn {}

.tour-btn button {
	width: 174px;
	height: 52px;
	flex-shrink: 0;
	border-radius: 8px;
	background: #FF5400;
	margin-top: 32px;
	border: none;
}
.tour-content {
	padding-right: 70px;
}
.tour-items {
	padding-right: 35px;
}