@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* header started */
.container {
    width: 1170px;
    max-width: 1440px;
    margin: 0 auto;
}
.header-area {
	display: flex;
}
.logo-img {
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
}
.logo-text {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.logo-text span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}